# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
uv.lock
pyproject.toml

# Git
.git/
.gitignore

# CI/CD
.github/
.hadolint.yaml

# Local development
*.md
hadolint.exe
Dockerfile
.dockerignore

# IDE
.vscode/
.idea/
